In [35]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

import pandas as pd

import matplotlib.pyplot as plt

In [36]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [37]:
engine.execute('SELECT * FROM station LIMIT 5').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [38]:
conn = engine.connect()

query = """
        SELECT
            *
        from
            measurement m
        join station s on m.station = s.station
        WHERE
            date like '%-06-%';
        """

df = pd.read_sql(query, conn)
df.head()

,id,station,date,prcp,tobs,id,station,name,latitude,longitude,elevation
0,134,USC00519397,2010-06-01,0.00,78.0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,135,USC00519397,2010-06-02,0.01,76.0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,136,USC00519397,2010-06-03,0.00,78.0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,137,USC00519397,2010-06-04,0.00,76.0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,138,USC00519397,2010-06-05,0.00,77.0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0

In [39]:

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [40]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [41]:
# Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [42]:
# Convert the June temperatures to a list.
june_temps = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [76]:
# Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temps, columns=['June Temps'])

In [77]:
# Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [78]:
june_precip = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()

In [79]:
june_precips = session.query(Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()

In [80]:
june_precips_df = pd.DataFrame(june_precips, columns=["June Precip"])

In [81]:
june_precips_df.describe()

       June Precip
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

## D2: Determine the Summary Statistics for December

In [45]:
# Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [46]:
# Convert the December temperatures to a list.
dec_temps = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [69]:
# Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temps, columns=['December Temps'])

In [70]:
# Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [71]:
dec_precip = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()

In [72]:
dec_precips = session.query(Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()

In [73]:
dec_precips_df = pd.DataFrame(dec_precips, columns=["December Precip"])

In [74]:
dec_precips_df.describe()

       December Precip
count      1405.000000
mean          0.216819
std           0.541399
min           0.000000
25%           0.000000
50%           0.030000
75%           0.150000
max           6.420000